@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");

/*
    Override mdxeditor styling to achieve custom styling in this file
*/

.mdxeditor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.selectableEditor {
  overflow-y: auto;
  padding-top: 0;
  height: 92vh;
}

.mdxeditor,
.mdxeditor * {
  font-family: "Cascadia Mono", monospace;
  color: var(--color-text);
}

.mdxeditor hr.selected {
  outline: 4px solid var(--color-text-secondary) !important;
}

/* Override code span */
.mdxeditor code span {
  background-color: var(--color-bg-secondary);
  padding: 4px;
  border-radius: 4px;
}

.mdxeditor code span::selection {
  background-color: var(--color-text-muted);
  border-radius: 4px;
}

/* Override blockquote */
.mdxeditor blockquote {
  border-left: 4px solid var(--color-text-muted);
  padding-left: 16px;
  margin-left: 0;
  font-style: italic;
}

.mdxeditor a span {
  color: var(--color-secondary);
  text-decoration: underline;
  text-decoration-color: var(--color-secondary);
  cursor: pointer;
}
