@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");

/*
    Override mdxeditor styling to achieve custom styling in this file
*/

.mdxeditor {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;
  height: 100%;
}

.selectableEditor {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding-top: 0;
}

.mdxeditor,
.mdxeditor * {
  font-family: "Cascadia Mono", monospace;
  color: var(--color-text-secondary);
}

.mdxeditor h1 > *,
.mdxeditor h2 > *,
.mdxeditor h3 > *,
.mdxeditor h4 > *,
.mdxeditor h5 > *,
.mdxeditor h6 > * {
  color: var(--color-text) !important;
}

.mdxeditor strong {
  color: var(--color-text) !important;
}

.mdxeditor hr.selected {
  outline: 4px solid var(--color-text-secondary) !important;
}

/* Override code span */
.mdxeditor code span {
  background-color: var(--color-bg-secondary);
  padding: 4px;
  border-radius: 4px;
}

.mdxeditor code span::selection {
  background-color: var(--color-text-muted);
  border-radius: 4px;
}

/* Override blockquote */
.mdxeditor blockquote {
  border-left: 4px solid var(--color-text-muted);
  padding-left: 16px;
  margin-left: 0;
  font-style: italic;
}

.mdxeditor a span {
  color: var(--color-secondary);
  text-decoration: underline;
  text-decoration-color: var(--color-secondary);
  cursor: pointer;
}

/* Override checkbox */
.mdxeditor li[role="checkbox"][aria-checked="true"] > * {
  color: var(--color-text-muted) !important;
  text-decoration: line-through;
  text-decoration-color: var(--color-text);
}

/* Checkbox (unchecked) */
.mdxeditor li[role="checkbox"]:before {
  border: 1px solid var(--color-text-secondary);
  border-radius: var(--radius-small);
  background-color: var(--color-bg);
  background-repeat: no-repeat;
}

/* Checkbox (checked) */
.mdxeditor li[role="checkbox"][aria-checked="true"]:before {
  border: 1px solid var(--color-text-secondary);
  border-radius: var(--radius-small);
  background-color: var(--color-primary);
  background-repeat: no-repeat;
}

/* Checkbox indicator */
.mdxeditor li[role="checkbox"]:after {
  border-color: var(--color-text);
}

/* Checkbox focus */
.mdxeditor li[role="checkbox"]:focus:before {
  box-shadow: 0 0 2px transparent;
}
