@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
    html,
    body,
    #root {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    body {
        font-family: "Cascadia Mono", monospace;
    }
}

@theme {
    --color-primary: rgba(36, 39, 58, 1);
    --color-primary-tint: rgba(36, 39, 58, 0.5);
}

.mdxeditor,
.mdxeditor * {
    font-family: "Cascadia Mono", monospace;
    color: white;
    margin-top: 0;
}
