@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap");
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
    html,
    body,
    #root {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overscroll-behavior-y: none;
    }

    body {
        font-family: "Cascadia Mono", monospace;
    }

    ::selection {
        background-color: rgba(100, 100, 100, 0.5);
    }
}

@theme {
    --color-primary: rgba(36, 39, 58, 1);
    --color-primary-tint: rgba(36, 39, 58, 0.75);
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-slate-500);
    border-radius: 5px 5px 5px 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-slate-600);
    cursor: default;
}

::spelling-error {
    text-decoration: var(--color-slate-500) underline wavy 1px;
    text-underline-offset: 2px;
}

.font-cascadia {
    font-family: "Cascadia Mono", monospace;
}
